@model ResetPasswordVM
<div class="card-body">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <form method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Password</label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">CheckPassword</label>
            <input asp-for="CheckPassword" class="form-control">
            <span asp-validation-for="CheckPassword" style="color:red"></span>
        </div>
        <div style="display:flex;gap:20px">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-light">Geri</a>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}